
/* ðŒð–ð’ | ðˆð‘ðŽð ð–ð€ð‘ [SERVER-ID](688693759432458323) */
[aria-label*="ðŒð–ð’ | ðˆð‘ðŽð ð–ð€ð‘"] {

	--BannerBG-Header-Height: 150px !important;
	--BannerBG-Header-Padding: 16px !important;
	--BannerBG-Header-Box-Shadow: none !important;

	--BannerBG-Server-Banner: url("https://i.ytimg.com/vi/8NZ38fQHun4/maxresdefault.jpg") !important;
	--BannerBG-Server-Width: 100% !important;
	--BannerBG-Server-Height: 100% !important;
	--BannerBG-Server-Top: 0 !important;
	--BannerBG-Server-Left: 0 !important;
	--BannerBG-Server-Z-Index: -1 !important;
	--BannerBG-Server-Position: absolute !important;

	/* CreArts V2 Vars */
	--BBG-CreArts-Header-Height: 135px;
	--BBG-CreArts-Header-Padding: 80px;
	--BBG-CreArts-Header-Z-Index: 2;
	--BBG-CreArts-Header-Opacity-0: 0;
	--BBG-CreArts-Header-Opacity-0: 0;
	--BBG-CreArts-Header-Transition: none;
	--BBG-CreArts-Header-Color: var(--interactive-active);
	--BBG-CreArts-Header-Radius: var(--radius-primary);

}

/* CreArts Is Special :3 */
.container-3w7J-x[aria-label*="CreArts"] + .panels-j1Uci_ > .container-3baos1 .button-14-BFJ {
  color: rgba(205, 9, 82, 1.0) !important;
}
.container-3w7J-x[aria-label*="CreArts"] + .panels-j1Uci_ > .container-3baos1 .button-14-BFJ [class*="strikethrough"] {
  color: rgb(204, 142, 165) !important;
}

/* Template Banner */
[aria-label*="BannerBG-Test-Banner"] {

	--BannerBG-Header-Height: 150px !important;
	--BannerBG-Header-Padding: 16px !important;
	--BannerBG-Header-Box-Shadow: none !important;

	--BannerBG-Server-Banner: url("") !important;
	--BannerBG-Server-Width: 100% !important;
	--BannerBG-Server-Height: 100% !important;
	--BannerBG-Server-Top: 0 !important;
	--BannerBG-Server-Left: 0 !important;
	--BannerBG-Server-Z-Index: -1 !important;
	--BannerBG-Server-Position: absolute !important;

	/* CreArts V2 Vars */
	--BBG-CreArts-Header-Height: 135px;
	--BBG-CreArts-Header-Padding: 80px;
	--BBG-CreArts-Header-Z-Index: 2;
	--BBG-CreArts-Header-Opacity-1: 1;
	--BBG-CreArts-Header-Opacity-0: 0;
	--BBG-CreArts-Header-Transition: none;
	--BBG-CreArts-Header-Color: var(--interactive-active);
	--BBG-CreArts-Header-Radius: var(--radius-primary);

}
